.features-one{
    background: #FFFFFF;
}

.features-one .main-name{
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-one .type{
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}