#footer {
    background: #2E2F42;
    width: 1440;
    height: 312;
    padding-top: 100px;
    padding-bottom: 100px;
    angle: 0 deg;
    opacity: 1;
}

.container-footer {
    width: 1158;
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    angle: 0 deg;
    opacity: 1;
    height: 112;
}

.footer-logo {
    font-family: Raleway;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 3%;
    text-transform: uppercase;
    font-weight: 700;
    color: #F4F4FD;
}

.footer-add {
    color: #4D5AE5;
}

.footer-text {
    font-family: Roboto;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 2%;
    font-weight: 400;
    color: #F4F4FD;
}

.footer-logo:hover,
.footer-logo:focus {
    color: #e65100;
}