.header-link {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.link-logo{
    color: #4D5AE5;
}

.top-bar{
    font-family: Roboto;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
}

.top-bar:hover,
.top-bar:focus {
    color: #404bbf;
}

.top-contacts {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.top-contacts .info:hover,
.top-contacts .info:focus {
    color: #404bbf;
}