.header-link {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-link:hover,
.header-link:focus {
    color: #e65100;
}

.link-logo{
    color: #4D5AE5;
}

.top-bar{
    font-family: Roboto;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 24px;
        letter-spacing: 2%;
}

.top-contacts {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 2%
}

.top-contacts .info:hover,
.top-contacts .info:focus {
    color: #e65100;
}