.hero-one{
    background: #2E2F42;
}

.main-header{
    font-family: Roboto;
    font-style: Bold;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
}

.order-button {
    background: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}