.portfolio-list h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 24;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: Roboto;
}

.portfolio-list p {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    font-family: Roboto;
}

.portfolio-list img {
    angle: 0 deg;
    opacity: 1;

}

.main-topic {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    font-family: Roboto;
}

.portfolio{
    opacity: 1;
}