.team-one {
    background: #F4F4FD;
}

.team-name{
    font-family: Roboto;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 500;
    color: #2E2F42;
}
.team-one .team-text{
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    font-weight: 400;
}

.team-item{
    background-color: #ffffff;
    angle: 0 deg;
    opacity: 1;
}

.team-title{
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42
}